 <div class="page-container">
            <!-- BEGIN 内容 -->
            <div class="page-content-wrapper">
                <!-- BEGIN 内容体内 -->
                <!-- BEGIN 页面内容正文 -->
                <div class="page-content">
                    <div class="container">
                        <!-- 开始 页面面包屑 -->
                        <ul class="page -breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>General</span>
                            </li>
                        </ul>
                        <!-- END 页面面包屑-->
                        <!-- BEGIN 页面内容 -->
                            <div class="blog-page blog-content-2">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="blog-single-content bordered blog-container">
                                            <div class="blog-single-head">
                                                <h1 class="blog-single-head-title">{{list.headline}}</h1>
                                                <div class="blog-single-head-date">
                                                    <i class="icon-calendar font-blue"></i>
                                                    <a href="javascript:;">{{list.create_time}}</a>
                                                </div>
                                            </div>
                                            {# 判断图片是否存在 #}
                                            {% if list.img.url is defined %}
                                            <div class="blog-single-img">
                                                <img src="{{list.img.url}}"  alt="{{list.img.name}}"/>
                                            </div>
                                            {% endif %}
                                            <div class="blog-single-desc">
                                                {{list.content}}
                                            </div>
                                            <div class="blog-single-foot">
                                                <ul class="blog-post-tags">
                                                    {% for item in list.tags %}
                                                    <li class="uppercase">
                                                        <a href="#/tags/{{item.id}}.html">{{item.name}}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="blog-comments">
                                                <div class="media-body">
                                                </div>
                                                <h3 class="sbold blog-comments-title">Leave A Comment</h3>
                                                <form action="/send/mail" method="post">
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Your Name" name= 'username' class="form-control c-square"> </div>
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Your Email" name='email' class="form-control c-square"> </div>
                                                    <div class="form-group">
                                                        <input type="text" placeholder="Your Website" name='website' class="form-control c-square"> </div>
                                                    <div class="form-group">
                                                        <textarea rows="8" name="message" name='message' placeholder="Write comment here ..." class="form-control c-square"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn blue uppercase btn-md sbold btn-block">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                   <!-- 引入 标签列表 START -->
                                    <div data-ng-include="'/block/right_list'" data-ng-controller="TagsController" class="right"></div>
                                    <!-- 引入 标签列表 END -->
                                </div>
                            </div>
                        </div>
                        <!-- END 页面内容 -->
                    </div>
                </div>
                <!-- END 页面内容正文 -->
                <!-- END 内容体内 -->
            </div>
            <!-- END CONTENT -->
        </div>
{% include "list/index1.phtml" %}