<!DOCTYPE html>
<!-- HELLO WORLD -->
<!-- 
    注释: 本页面是用来进入 所有需要 js+css + jq +angularJs 
-->
<html lang="en" data-ng-app="MetronicApp">
    <!--<![endif]-->
    <!-- 开始头部 -->
    <head>
        <title data-ng-bind="' Phalcon & AngularJS '"></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- 开始 引入 样式 -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{Host}}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{Host}}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{Host}}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{Host}}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="{{Host}}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- 结束 引入 样式 -->
        <!-- 开始DYMANICLY加载CSS文件(所有插件和全球之间必须加载相关的页面风格和主题CSS文件) -->
        <link href="{{Host}}/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{Host}}/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="{{Host}}/assets/pages/css/blog.min.css" rel="stylesheet" type="text/css" />
        <!-- DYMANICLY加载CSS文件结束-->
        <!-- 开始的主题风格 -->
        <!-- 道格:使用“圆角”只是负载' components-rounded风格。css样式表,而不是组件。css的下面的风格标签 -->
        <link href="{{Host}}/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="{{Host}}/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{Host}}/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- 结束的主题风格 -->
        <link rel="shortcut icon" href="favicon.ico" />
        <!-- shCoreDefault 代码高亮插件 Start -->
        <!-- shCoreDefault 代码高亮插件 END -->
    </head>
    <!-- 结束 头部 -->
    <!-- 开始 身体 -->
    <!-- Doc:“page-header-menu-fixed”类设置大型菜单固定 -->
    <!-- Doc:“page-header-top-fixed”类适用于顶部菜单设置固定的  -->

    <body ng-controller="AppController" class="page-on-load" style=" font-family: Helvetica">
        <!-- 开始 页面旋转 -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- 结束 页面旋转-->
        <!-- 开始 页眉  
            data-ng-include 引入模版 单独使用header 控制器
        -->
        <div data-ng-include="'/block/header'" data-ng-controller="HeaderController" class="page-header"> </div>
        <!-- 结束 页眉 -->

        <div class="clearfix"> </div>

        <!-- 开始 容器 -->
        <div class="page-container">
            <!-- 开始 页头 -->
            <div data-ng-include="'/block/page_head'" data-ng-controller="PageHeadController" class="page-head"> </div>
            <!-- 结束 页头 -->
            <!-- 开始 页面内容 -->
            <div class="page-content">
                <div class="container">
                    <!-- 开始 实际内容 -->
                    <div ui-view class="fade-in-up"> </div>
                    <!-- 结束 实际内容 -->
                </div>
            </div>
            <!-- 结束 页面内容 -->
            <!-- 开始 快捷栏 -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i><!-- 来回的切换按钮 -->
            </a>
            <div data-ng-include="'/block/quick'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
            <!-- 结束 快捷栏 -->
        </div>
        <!-- 结束 容器 -->
        <!-- 开始 页脚 -->
        <div data-ng-include="'/block/footer'" data-ng-controller="FooterController"> </div>
        <!-- 页脚 结束  -->

        <!--开始的javascript(负载JAVASCRIPTS底部,这将降低页面加载时间) -->

        <!-- 开始核心JQUERY插件 -->
        <script src="{{Host}}/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <!-- 结束核心JQUERY插件 -->

        <!-- 开始 核心ANGULARJS插件 -->
        <script src="{{Host}}/assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <!-- 结束核心ANGULARJS插件 -->

        <!-- 开始 应用水平ANGULARJS脚本 -->
        <script src="{{Host}}/js/main.js" type="text/javascript"></script>
        <script src="{{Host}}/js/directives.js" type="text/javascript"></script>
        <!-- 结束 应用水平ANGULARJS脚本 -->

        <!-- JQUERY脚本开始应用水平 -->
        <script src="{{Host}}/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="{{Host}}/assets/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
        <!-- 结束 JQUERY脚本应用水平 -->

        <!-- shCoreDefault 代码高亮插件 Start -->
      
        <!-- shCoreDefault 代码高亮插件 END -->
        <!-- 结束 JAVASCRIPTS -->

       
    </body>
    <!-- 结束 身体 -->

</html>


