 <!-- BEGIN 页面身体  -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN 页面 面包屑 -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="/home">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>General</span>
                            </li>
                        </ul>
                        <!-- END 页面面包屑 -->
                        <!-- BEGIN 页面内容 -->
                        <div class="page-content-inner">
                            <div class="blog-page blog-content-1">
                                <div class="row">
                                    <!-- 大图  文章块 START -->
                                    <div class="col-lg-6">
                                        <!-- 文章1 start -->
                                        <div class="blog-post-lg bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="#">
                                                    <img src="../assets/pages/img/xiong.jpg" />
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">My Blog</a>
                                                </h2>
                                                <p class="blog-post-desc">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;本博客使用 Phalcon 框架搭建 ,该项目主要用于本人平时学习所做的笔记,本人喜好收集各种前端插件及学习各种web 知识;<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;本博客使用 Linux + Nginx + mysql + php + phalcon框架 工作环境;<br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp;前端使用 HTML + CSS + JavaScript + Jquery + AngularJS;<br />

                                                </p>
                                                <div class="blog-post-foot">
                                                    <ul class="blog-post-tags">
                                                        <li class="uppercase">
                                                            <a href="http://v3.bootcss.com/"  target="_blank">Bootstrap</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="http://www.apjs.net/"  target="_blank">AngularJS</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="http://www.w3school.com.cn/html/"  target="_blank">HTML</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="http://php.net/manual/zh/"  target="_blank">PHP</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="http://phalcon.ipanta.com/" target="_blank">Phalcon</a>
                                                        </li>
                                                    </ul>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">On December 22, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="/">14 吐槽</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 文章1 end -->

                                        <!-- 文章2 start -->
                                        <div class="blog-post-lg bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="../assets/pages/img/page_general_search/05.jpg" />
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">New Metronic Features</a>
                                                </h2>
                                                <p class="blog-post-desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                                    suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
                                                <div class="blog-post-foot">
                                                    <ul class="blog-post-tags">
                                                        <li class="uppercase">
                                                            <a href="javascript:;">Bootstrap</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="javascript:;">Sass</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="javascript:;">HTML</a>
                                                        </li>
                                                    </ul>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-blue"></i>
                                                        <a href="javascript:;">Oct 22, 2015</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-blue"></i>
                                                        <a href="javascript:;">8 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 文章2 end -->

                                    </div>

                                    <!-- 大图 文章块 END -->

                                    <!-- 细长图 START -->
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="blog-quote bordered blog-container">
                                                    <div class="blog-quote-label bg-green-jungle">
                                                        <i class="fa fa-quote-left"></i>

                                                        人物头像
                                                    </div>
                                                    <div class="blog-quote-avatar">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/pen.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-quote-author">
                                                        <h3 class="blog-title blog-quote-title">
                                                            <a href="javascript:;">标题</a>
                                                        </h3>
                                                        <p class="blog-quote-desc">Test Work</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog-video bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/pen.jpg" />
                                                        </a>
                                                    </div>
                                                    <a href="javascript:;" class="blog-video-play">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                    <div class="blog-video-content">
                                                        <h3 class="blog-title blog-video-title">
                                                            <a href="javascript:;">Play Video</a>
                                                        </h3>
                                                        <p class="blog-video-desc">视频播放</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="blog-banner blog-container" style="background-image:url(../assets/pages/img/background/7.jpg);">
                                                    <h2 class="blog-title blog-banner-title">
                                                        <a href="javascript:;">图中显示</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/page_general_search/5.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="javascript:;">小图文</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> 
                                                            测试测试测试测试测试测试测试测试测试测试
                                                        </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/page_general_search/02.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="javascript:;">Metronic Blog Post</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <!-- 使用 <div class='row' > 包含两个小图-->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/page_general_search/2.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="javascript:;">Metronic Blog Post</a>
                                                        </h2>
                                                        <p class="blog-post-desc"> Lorem ipsum dolor sit amet adipiscing elit, sed diam nonummy </p>
                                                        <div class="blog-post-foot">
                                                            <div class="blog-post-meta">
                                                                <i class="icon-calendar font-blue"></i>
                                                                <a href="javascript:;">Oct 24, 2015</a>
                                                            </div>
                                                            <div class="blog-post-meta">
                                                                <i class="icon-bubble font-blue"></i>
                                                                <a href="javascript:;">14 Comments</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="blog-post-sm bordered blog-container">
                                                    <div class="blog-img-thumb">
                                                        <a href="javascript:;">
                                                            <!-- 引入模块 -->
                                                            <div data-ng-include="'/block/tags'" data-ng-controller="TagsController" class="tags"> </div>
                                                        </a>
                                                    </div>
                                                    <div class="blog-post-content">
                                                        <h2 class="blog-title blog-post-title">
                                                            <a href="javascript:;">Laruence Tages </a>
                                                        </h2>
                                                        <p class="blog-post-desc"> 
                                                            Laruence 的标签
                                                        </p>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 细长小图 结束 END -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 结束页面内容内 -->
                    </div>
                </div>
                <!-- 页面内容的身体 END -->