<div class="page-container">
            <!-- 开始内容 -->
            <div class="page-content-wrapper">
                <!-- 身体开始内容 -->
                <!-- 身体开始页面内容 -->
                <div class="page-content">
                    <div class="container">
                        <!-- 开始页面的面包屑 -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="#/index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>{{a}}</span>
                            </li>
                        </ul>
                        <!-- 结束页面包屑 -->
                        <!-- 开始页面内容内 -->
                        <div class="page-content-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light portlet-fit  calendar">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class=" icon-layers font-green"></i>
                                                <span class="caption-subject font-green sbold uppercase">Calendar</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-12">
                                                    <!-- 开始可拖放事件PORTLET -->
                                                    <h3 class="event-form-title margin-bottom-20">Draggable Events</h3>
                                                    <div id="external-events">
                                                        <form class="inline-form">
                                                            <input type="text" value="" class="form-control" placeholder="Event Title..." id="event_title" />
                                                            <br/>
                                                            <a href="javascript:;" id="event_add" class="btn green"> Add Event </a>
                                                        </form>
                                                        <hr/>
                                                        <div id="event_box" class="margin-bottom-10"></div>
                                                        <label for="drop-remove">
                                                            <input type="checkbox" id="drop-remove" />remove after drop </label>
                                                        <hr class="visible-xs" /> </div>
                                                    <!-- 结束可拖放事件PORTLET -->
                                                </div>
                                                <div class="col-md-9 col-sm-12">
                                                    <div id="calendar" class="has-toolbar"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 结束页面内容内 -->
                    </div>
                </div>
                <!-- 结束页面内容的身体 -->
                <!-- 最终内容体 -->
            </div>
            <!-- 最后的内容 -->
         
        </div>