<!-- 显示列表 -->
<div class="page-content-inner">
    <div class="blog-page blog-content-2">
		<!-- 使用col-lg-8 排版 -->
		<div class="col-lg-9">
			<!-- BEGIN Portlet PORTLET-->
			{% for item in list %}
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<a href='#article/{{item.id}}.html' class="caption-subject bold uppercase">
							<i class="icon-speech"></i>
						 {{item.headline}}</a>					
					</div>
					<div class="tools">
	                    <a href="" class="collapse"> </a>
	                    <a href="" class="reload"> </a>
	                    <a href="" class="fullscreen"> </a>
	                    <a href="" class="remove"> </a>
	                </div>
				</div>
				<div class="portlet-body">
					<div class="scroller" style="height:150px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
						{{item.content}}
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- END Portlet PORTLET-->
		</div>
		<!-- 右侧 导航栏 -->
	    <!-- 引入 标签列表 START -->
        <div data-ng-include="'/block/right_list'" data-ng-controller="TagsController" class="right"></div>
        <!-- 引入 标签列表 END -->
	</div>
</div>
