 <!-- 页眉 -->
<div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Woke Lee
            <small>Use Phalcon to create my blog</small>
        </h1>
    </div>
    <!-- END 页面标题 -->
    <!-- BEGIN 页面工具 -->
    <div class="page-toolbar">
        <!-- 主题设置 start -->
        <div class="btn-group btn-theme-panel">
            <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-settings"></i>
            </a>
            <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3>主题颜色</h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <ul class="theme-colors">
                                    <li class="theme-color theme-color-default" data-theme="default">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Default</span>
                                    </li>
                                    <li class="theme-color theme-color-blue-hoki" data-theme="blue-hoki">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Blue Hoki</span>
                                    </li>
                                    <li class="theme-color theme-color-blue-steel" data-theme="blue-steel">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Blue Steel</span>
                                    </li>
                                    <li class="theme-color theme-color-yellow-orange" data-theme="yellow-orange">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Orange</span>
                                    </li>
                                    <li class="theme-color theme-color-yellow-crusta" data-theme="yellow-crusta">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Yellow Crusta</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <ul class="theme-colors">
                                    <li class="theme-color theme-color-green-haze" data-theme="green-haze">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Green Haze</span>
                                    </li>
                                    <li class="theme-color theme-color-red-sunglo" data-theme="red-sunglo">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Red Sunglo</span>
                                    </li>
                                    <li class="theme-color theme-color-red-intense" data-theme="red-intense">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Red Intense</span>
                                    </li>
                                    <li class="theme-color theme-color-purple-plum" data-theme="purple-plum">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Purple Plum</span>
                                    </li>
                                    <li class="theme-color theme-color-purple-studio" data-theme="purple-studio">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Purple Studio</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 seperator">
                        <h3>LAYOUT</h3>
                        <ul class="theme-settings">
                            <li> Theme Style
                                <select class="theme-setting theme-setting-style form-control input-sm input-small input-inline tooltips" data-original-title="Change theme style" data-container="body" data-placement="left">
                                    <option value="boxed" selected="selected">Square corners</option>
                                    <option value="rounded">Rounded corners</option>
                                </select>
                            </li>
                            <li> Layout
                                <select class="theme-setting theme-setting-layout form-control input-sm input-small input-inline tooltips" data-original-title="Change layout type" data-container="body" data-placement="right"><!-- 标题 标记 data-placement 方向 -->
                                    <option value="boxed" selected="selected">Boxed</option>
                                    <option value="fluid">Fluid</option>
                                </select>
                            </li>
                            <li> Top Menu Style
                                <select class="theme-setting theme-setting-top-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change top menu dropdowns style" data-container="body"
                                data-placement="left">
                                    <option value="dark" selected="selected">Dark</option>
                                    <option value="light">Light</option>
                                </select>
                            </li>
                            <li> Top Menu Mode
                                <select class="theme-setting theme-setting-top-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) top menu" data-container="body" data-placement="left">
                                    <option value="fixed">Fixed</option>
                                    <option value="not-fixed" selected="selected">Not Fixed</option>
                                </select>
                            </li>
                            <li> Mega Menu Style
                                <select class="theme-setting theme-setting-mega-menu-style form-control input-sm input-small input-inline tooltips" data-original-title="Change mega menu dropdowns style" data-container="body"
                                data-placement="left">
                                    <option value="dark" selected="selected">Dark</option>
                                    <option value="light">Light</option>
                                </select>
                            </li>
                            <li> Mega Menu Mode
                                <select class="theme-setting theme-setting-mega-menu-mode form-control input-sm input-small input-inline tooltips" data-original-title="Enable fixed(sticky) mega menu" data-container="body"
                                data-placement="left">
                                    <option value="fixed" selected="selected">Fixed</option>
                                    <option value="not-fixed">Not Fixed</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 主题设置 end -->
    </div>
    <!-- END 页面工具 -->
</div>