<!-- 右侧 导航栏 -->
                                    <div class="col-lg-3">
                                        <div class="blog-single-sidebar bordered blog-container">
                                            <!-- 网络时钟 start -->
                                            <embed src='http://www.blogclock.cn/swf/S10031614038989-7.swf' Width='200px' Height='205px' type='application/x-shockwave-flash' quality='high' wmode='transparent'></embed>
                                            <!-- 网络时钟 end -->
                                            <div class="blog-single-sidebar-search">
                                                <div class="input-icon right">
                                                    <i class="icon-magnifier"></i>
                                                    <input type="text" class="form-control" placeholder="Search Blog"> </div>
                                            </div>
                                            <div class="blog-single-sidebar-recent">
                                                <h3 class="blog-sidebar-title uppercase">Recent Posts</h3>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:;">Metronic Admin Progress</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">New UI Features</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Lorem Ipsum Dolore Amet</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Userfull Pages Released</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-single-sidebar-tags">
                                                <h3 class="blog-sidebar-title uppercase">Tags</h3>
                                                <!-- 引入 标签列表 START -->
                                                <ul class="blog-post-tags">
                                                    {% for item in tags_list %}
                                                    <li class="uppercase">
                                                        <a href="#/tags/{{item.id}}.html">{{item.name}}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <!-- 引入 标签列表 END -->
                                            </div>
                                            <div class="blog-single-sidebar-links">
                                                <h3 class="blog-sidebar-title uppercase">Useful Links</h3>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:;">Lorem Ipsum </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Dolore Amet</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Metronic Database</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">UI Features</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Advanced Forms</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="blog-single-sidebar-ui">
                                                <h3 class="blog-sidebar-title uppercase">UI Examples</h3>
                                                <div class="row ui-margin">
                                                    <div class="col-xs-4 ui-padding">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/background/1.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4 ui-padding">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/background/37.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4 ui-padding">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/background/57.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4 ui-padding">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/background/53.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4 ui-padding">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/background/59.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4 ui-padding">
                                                        <a href="javascript:;">
                                                            <img src="../assets/pages/img/background/42.jpg" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>