<div class="sidebarbox">
    <!-- Laruence 博客标签 -->
    <!-- SWFObject embed by Geoff Stearns geoff@deconcept.com http://blog.deconcept.com/swfobject/ -->
    <script type="text/javsascript">
    /**
 * SWFObject v1.4: Flash Player detection and embed - http://blog.deconcept.com/swfobject/
 *
 * SWFObject is (c) 2006 Geoff Stearns and is released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 *
 * **SWFObject is the SWF embed script formarly known as FlashObject. The name was changed for
 *   legal reasons.
 */
if(typeof deconcept=="undefined"){var deconcept=new Object();}
if(typeof deconcept.util=="undefined"){deconcept.util=new Object();}
if(typeof deconcept.SWFObjectUtil=="undefined"){deconcept.SWFObjectUtil=new Object();}
deconcept.SWFObject=function(_1,id,w,h,_5,c,_7,_8,_9,_a,_b){
if(!document.createElement||!document.getElementById){return;}
this.DETECT_KEY=_b?_b:"detectflash";
this.skipDetect=deconcept.util.getRequestParameter(this.DETECT_KEY);
this.params=new Object();
this.variables=new Object();
this.attributes=new Array();
if(_1){this.setAttribute("swf",_1);}
if(id){this.setAttribute("id",id);}
if(w){this.setAttribute("width",w);}
if(h){this.setAttribute("height",h);}
if(_5){this.setAttribute("version",new deconcept.PlayerVersion(_5.toString().split(".")));}
this.installedVer=deconcept.SWFObjectUtil.getPlayerVersion(this.getAttribute("version"),_7);
if(c){this.addParam("bgcolor",c);}
var q=_8?_8:"high";
this.addParam("quality",q);
this.setAttribute("useExpressInstall",_7);
this.setAttribute("doExpressInstall",false);
var _d=(_9)?_9:window.location;
this.setAttribute("xiRedirectUrl",_d);
this.setAttribute("redirectUrl","");
if(_a){this.setAttribute("redirectUrl",_a);}};
deconcept.SWFObject.prototype={setAttribute:function(_e,_f){
this.attributes[_e]=_f;
},getAttribute:function(_10){
return this.attributes[_10];
},addParam:function(_11,_12){
this.params[_11]=_12;
},getParams:function(){
return this.params;
},addVariable:function(_13,_14){
this.variables[_13]=_14;
},getVariable:function(_15){
return this.variables[_15];
},getVariables:function(){
return this.variables;
},getVariablePairs:function(){
var _16=new Array();
var key;
var _18=this.getVariables();
for(key in _18){
_16.push(key+"="+_18[key]);}
return _16;
},getSWFHTML:function(){
var _19="";
if(navigator.plugins&&navigator.mimeTypes&&navigator.mimeTypes.length){
if(this.getAttribute("doExpressInstall")){this.addVariable("MMplayerType","PlugIn");}
_19="<embed type=\"application/x-shockwave-flash\" src=\""+this.getAttribute("swf")+"\" width=\""+this.getAttribute("width")+"\" height=\""+this.getAttribute("height")+"\"";
_19+=" id=\""+this.getAttribute("id")+"\" name=\""+this.getAttribute("id")+"\" ";
var _1a=this.getParams();
for(var key in _1a){_19+=[key]+"=\""+_1a[key]+"\" ";}
var _1c=this.getVariablePairs().join("&");
if(_1c.length>0){_19+="flashvars=\""+_1c+"\"";}
_19+="/>";
}else{
if(this.getAttribute("doExpressInstall")){this.addVariable("MMplayerType","ActiveX");}
_19="<object id=\""+this.getAttribute("id")+"\" classid=\"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000\" width=\""+this.getAttribute("width")+"\" height=\""+this.getAttribute("height")+"\">";
_19+="<param name=\"movie\" value=\""+this.getAttribute("swf")+"\" />";
var _1d=this.getParams();
for(var key in _1d){_19+="<param name=\""+key+"\" value=\""+_1d[key]+"\" />";}
var _1f=this.getVariablePairs().join("&");
if(_1f.length>0){_19+="<param name=\"flashvars\" value=\""+_1f+"\" />";}
_19+="</object>";}
return _19;
},write:function(_20){
if(this.getAttribute("useExpressInstall")){
var _21=new deconcept.PlayerVersion([6,0,65]);
if(this.installedVer.versionIsValid(_21)&&!this.installedVer.versionIsValid(this.getAttribute("version"))){
this.setAttribute("doExpressInstall",true);
this.addVariable("MMredirectURL",escape(this.getAttribute("xiRedirectUrl")));
document.title=document.title.slice(0,47)+" - Flash Player Installation";
this.addVariable("MMdoctitle",document.title);}}
if(this.skipDetect||this.getAttribute("doExpressInstall")||this.installedVer.versionIsValid(this.getAttribute("version"))){
var n=(typeof _20=="string")?document.getElementById(_20):_20;
n.innerHTML=this.getSWFHTML();
return true;
}else{
if(this.getAttribute("redirectUrl")!=""){document.location.replace(this.getAttribute("redirectUrl"));}}
return false;}};
deconcept.SWFObjectUtil.getPlayerVersion=function(_23,_24){
var _25=new deconcept.PlayerVersion([0,0,0]);
if(navigator.plugins&&navigator.mimeTypes.length){
var x=navigator.plugins["Shockwave Flash"];
if(x&&x.description){_25=new deconcept.PlayerVersion(x.description.replace(/([a-z]|[A-Z]|\s)+/,"").replace(/(\s+r|\s+b[0-9]+)/,".").split("."));}
}else{try{
var axo=new ActiveXObject("ShockwaveFlash.ShockwaveFlash");
for(var i=3;axo!=null;i++){
axo=new ActiveXObject("ShockwaveFlash.ShockwaveFlash."+i);
_25=new deconcept.PlayerVersion([i,0,0]);}}
catch(e){}
if(_23&&_25.major>_23.major){return _25;}
if(!_23||((_23.minor!=0||_23.rev!=0)&&_25.major==_23.major)||_25.major!=6||_24){
try{_25=new deconcept.PlayerVersion(axo.GetVariable("$version").split(" ")[1].split(","));}
catch(e){}}}
return _25;};
deconcept.PlayerVersion=function(_29){
this.major=parseInt(_29[0])!=null?parseInt(_29[0]):0;
this.minor=parseInt(_29[1])||0;
this.rev=parseInt(_29[2])||0;};
deconcept.PlayerVersion.prototype.versionIsValid=function(fv){
if(this.major<fv.major){return false;}
if(this.major>fv.major){return true;}
if(this.minor<fv.minor){return false;}
if(this.minor>fv.minor){return true;}
if(this.rev<fv.rev){return false;}return true;};
deconcept.util={getRequestParameter:function(_2b){
var q=document.location.search||document.location.hash;
if(q){
var _2d=q.indexOf(_2b+"=");
var _2e=(q.indexOf("&",_2d)>-1)?q.indexOf("&",_2d):q.length;
if(q.length>1&&_2d>-1){
return q.substring(q.indexOf("=",_2d)+1,_2e);
}}return "";}};
if(Array.prototype.push==null){
Array.prototype.push=function(_2f){
this[this.length]=_2f;
return this.length;};}
var getQueryParamValue=deconcept.util.getRequestParameter;
var FlashObject=deconcept.SWFObject; // for backwards compatibility
var SWFObject=deconcept.SWFObject;



    </script>
    <div id="wpcumuluswidgetcontent4186190" style=''> 
        <embed style='margin-top:-20px;'  type="application/x-shockwave-flash"
               src="http://www.laruence.com/wp-content/plugins/wp-cumulus/tagcloud.swf?r=8692657" width="260"
               height="240" id="tagcloudflash" name="tagcloudflash" bgcolor="#ffffff" quality="high" wmode="transparent"
               allowscriptaccess="always"
               flashvars="tcolor=0x333333&amp;tcolor2=0x333333&amp;hicolor=0x000000&amp;tspeed=100&amp;distr=true&amp;mode=both&amp;tagcloud=%3Ctags%3E%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fapache%27+class%3D%27tag-link-42%27+title%3D%276+topics%27+style%3D%27font-size%3A+11.1204819277pt%3B%27%3EApache%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fapc%27+class%3D%27tag-link-223%27+title%3D%276+topics%27+style%3D%27font-size%3A+11.1204819277pt%3B%27%3Eapc%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fbug%27+class%3D%27tag-link-75%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3Ebug%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fc%27+class%3D%27tag-link-23%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EC%2B%2B%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fcharset%27+class%3D%27tag-link-48%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Echarset%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fcookie%27+class%3D%27tag-link-21%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3ECOOKIE%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fcore%27+class%3D%27tag-link-224%27+title%3D%276+topics%27+style%3D%27font-size%3A+11.1204819277pt%3B%27%3Ecore%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fdebug%27+class%3D%27tag-link-53%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3Edebug%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fengine%27+class%3D%27tag-link-57%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3Eengine%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fextension%27+class%3D%27tag-link-18%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3EExtension%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fget%27+class%3D%27tag-link-19%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3EGET%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fie%27+class%3D%27tag-link-36%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EIE%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fjavascript%27+class%3D%27tag-link-9%27+title%3D%2714+topics%27+style%3D%27font-size%3A+13.9036144578pt%3B%27%3Ejavascript%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fjs%27+class%3D%27tag-link-130%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Ejs%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fjson%27+class%3D%27tag-link-79%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Ejson%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fmodule%27+class%3D%27tag-link-43%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3EModule%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fmysql%27+class%3D%27tag-link-13%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3Emysql%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fnginx%27+class%3D%27tag-link-187%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3Enginx%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fopcache%27+class%3D%27tag-link-606%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Eopcache%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%27+class%3D%27tag-link-17%27+title%3D%27136+topics%27+style%3D%27font-size%3A+22pt%3B%27%3EPHP%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp5-4%27+class%3D%27tag-link-440%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3EPHP5.4%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp5-4%25e6%2596%25b0%25e7%2589%25b9%25e6%2580%25a7%27+class%3D%27tag-link-470%27+title%3D%2712+topics%27+style%3D%27font-size%3A+13.313253012pt%3B%27%3EPHP5.4%E6%96%B0%E7%89%B9%E6%80%A7%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp7%27+class%3D%27tag-link-614%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3EPHP7%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp-extension%27+class%3D%27tag-link-344%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3EPHP+extension%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e5%258e%259f%25e7%2590%2586%27+class%3D%27tag-link-107%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3Ephp%E5%8E%9F%E7%90%86%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e5%25ba%2594%25e7%2594%25a8%27+class%3D%27tag-link-98%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EPHP%E5%BA%94%E7%94%A8%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e6%2589%25a9%25e5%25b1%2595%27+class%3D%27tag-link-345%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EPHP%E6%89%A9%E5%B1%95%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e6%25ba%2590%25e7%25a0%2581%27+class%3D%27tag-link-94%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3Ephp%E6%BA%90%E7%A0%81%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e6%25ba%2590%25e7%25a0%2581%25e5%2588%2586%25e6%259e%2590%27+class%3D%27tag-link-160%27+title%3D%279+topics%27+style%3D%27font-size%3A+12.3855421687pt%3B%27%3Ephp%E6%BA%90%E7%A0%81%E5%88%86%E6%9E%90%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fsapi%27+class%3D%27tag-link-60%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3ESAPI%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fsession%27+class%3D%27tag-link-164%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3Esession%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Futf8%27+class%3D%27tag-link-7%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3Eutf8%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fvalgrind%27+class%3D%27tag-link-600%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Evalgrind%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fvim%27+class%3D%27tag-link-5%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Evim%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fyac%27+class%3D%27tag-link-589%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Eyac%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fyaf%27+class%3D%27tag-link-343%27+title%3D%2713+topics%27+style%3D%27font-size%3A+13.6506024096pt%3B%27%3EYaf%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fyar%27+class%3D%27tag-link-571%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EYar%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fzendphp%27+class%3D%27tag-link-58%27+title%3D%2712+topics%27+style%3D%27font-size%3A+13.313253012pt%3B%27%3EZend%2FPHP%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e4%25b9%25b1%25e7%25a0%2581%27+class%3D%27tag-link-6%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3E%E4%B9%B1%E7%A0%81%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e5%258e%259f%25e7%2590%2586%27+class%3D%27tag-link-205%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3E%E5%8E%9F%E7%90%86%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e5%25bc%2580%25e5%258f%2591php%25e6%2589%25a9%25e5%25b1%2595%27+class%3D%27tag-link-114%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3E%E5%BC%80%E5%8F%91php%E6%89%A9%E5%B1%95%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e5%25bc%2582%25e6%25ad%25a5%27+class%3D%27tag-link-30%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3E%E5%BC%82%E6%AD%A5%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e6%2580%25a7%25e8%2583%25bd%27+class%3D%27tag-link-210%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3E%E6%80%A7%E8%83%BD%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e6%2589%25a9%25e5%25b1%2595%25e5%25bc%2580%25e5%258f%2591%27+class%3D%27tag-link-444%27+title%3D%276+topics%27+style%3D%27font-size%3A+11.1204819277pt%3B%27%3E%E6%89%A9%E5%B1%95%E5%BC%80%E5%8F%91%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e6%25ad%25a3%25e5%2588%2599%27+class%3D%27tag-link-191%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3E%E6%AD%A3%E5%88%99%3C%2Fa%3E%3C%2Ftags%3E&amp;categories=%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fgnuc%22+title%3D%22View+all+posts+filed+under+GNU+C%2FC%2B%2B%22%3EGNU+C%2FC%2B%2B%3C%2Fa%3E+%288%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fjscss%22+title%3D%22View+all+posts+filed+under+Js%2FCSS%22%3EJs%2FCSS%3C%2Fa%3E+%2824%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fos%22+title%3D%22View+all+posts+filed+under+Linux%2FUnix%22%3ELinux%2FUnix%3C%2Fa%3E+%2815%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fmysqlpostgresql%22+title%3D%22View+all+posts+filed+under+MySQL%2FPostgreSQL%22%3EMySQL%2FPostgreSQL%3C%2Fa%3E+%287%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fphpext%22+title%3D%22View+all+posts+filed+under+PHP+Extension%22%3EPHP+Extension%3C%2Fa%3E+%2819%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fphp-usage%22+title%3D%22View+all+posts+filed+under+PHP%E5%BA%94%E7%94%A8%22%3EPHP%E5%BA%94%E7%94%A8%3C%2Fa%3E+%28170%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fphp-internal%22+title%3D%22PHP%E6%BA%90%E7%A0%81%E5%88%86%E6%9E%90%2C+Zend%E5%86%85%E6%A0%B8%E8%A7%A3%E6%9E%90%22%3EPHP%E6%BA%90%E7%A0%81%E5%88%86%E6%9E%90%3C%2Fa%3E+%2880%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2F%25e8%25bd%25ac%25e8%25bd%25bd%22+title%3D%22View+all+posts+filed+under+%E8%BD%AC%E8%BD%BD%22%3E%E8%BD%AC%E8%BD%BD%3C%2Fa%3E+%2833%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fnotes%22+title%3D%22View+all+posts+filed+under+%E9%9A%8F%E7%AC%94%22%3E%E9%9A%8F%E7%AC%94%3C%2Fa%3E+%2892%29%3Cbr+%2F%3E%0A">
    </div>
    <script
        type="text/javascript">var widget_so7596180 = new SWFObject("http://www.laruence.com/wp-content/plugins/wp-cumulus/tagcloud.swf?r=8692657", "tagcloudflash", "260", "260", "9", "#ffffff");
        widget_so7596180.addParam("wmode", "transparent");
        widget_so7596180.addParam("allowScriptAccess", "always");
        widget_so7596180.addVariable("tcolor", "0x333333");
        widget_so7596180.addVariable("tcolor2", "0x333333");
        widget_so7596180.addVariable("hicolor", "0x000000");
        widget_so7596180.addVariable("tspeed", "100");
        widget_so7596180.addVariable("distr", "true");
        widget_so7596180.addVariable("mode", "both");
        widget_so7596180.addVariable("tagcloud", "%3Ctags%3E%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fapache%27+class%3D%27tag-link-42%27+title%3D%276+topics%27+style%3D%27font-size%3A+11.1204819277pt%3B%27%3EApache%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fapc%27+class%3D%27tag-link-223%27+title%3D%276+topics%27+style%3D%27font-size%3A+11.1204819277pt%3B%27%3Eapc%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fbug%27+class%3D%27tag-link-75%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3Ebug%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fc%27+class%3D%27tag-link-23%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EC%2B%2B%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fcharset%27+class%3D%27tag-link-48%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Echarset%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fcookie%27+class%3D%27tag-link-21%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3ECOOKIE%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fcore%27+class%3D%27tag-link-224%27+title%3D%276+topics%27+style%3D%27font-size%3A+11.1204819277pt%3B%27%3Ecore%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fdebug%27+class%3D%27tag-link-53%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3Edebug%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fengine%27+class%3D%27tag-link-57%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3Eengine%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fextension%27+class%3D%27tag-link-18%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3EExtension%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fget%27+class%3D%27tag-link-19%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3EGET%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fie%27+class%3D%27tag-link-36%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EIE%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fjavascript%27+class%3D%27tag-link-9%27+title%3D%2714+topics%27+style%3D%27font-size%3A+13.9036144578pt%3B%27%3Ejavascript%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fjs%27+class%3D%27tag-link-130%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Ejs%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fjson%27+class%3D%27tag-link-79%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Ejson%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fmodule%27+class%3D%27tag-link-43%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3EModule%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fmysql%27+class%3D%27tag-link-13%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3Emysql%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fnginx%27+class%3D%27tag-link-187%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3Enginx%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fopcache%27+class%3D%27tag-link-606%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Eopcache%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%27+class%3D%27tag-link-17%27+title%3D%27136+topics%27+style%3D%27font-size%3A+22pt%3B%27%3EPHP%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp5-4%27+class%3D%27tag-link-440%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3EPHP5.4%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp5-4%25e6%2596%25b0%25e7%2589%25b9%25e6%2580%25a7%27+class%3D%27tag-link-470%27+title%3D%2712+topics%27+style%3D%27font-size%3A+13.313253012pt%3B%27%3EPHP5.4%E6%96%B0%E7%89%B9%E6%80%A7%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp7%27+class%3D%27tag-link-614%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3EPHP7%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp-extension%27+class%3D%27tag-link-344%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3EPHP+extension%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e5%258e%259f%25e7%2590%2586%27+class%3D%27tag-link-107%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3Ephp%E5%8E%9F%E7%90%86%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e5%25ba%2594%25e7%2594%25a8%27+class%3D%27tag-link-98%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EPHP%E5%BA%94%E7%94%A8%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e6%2589%25a9%25e5%25b1%2595%27+class%3D%27tag-link-345%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EPHP%E6%89%A9%E5%B1%95%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e6%25ba%2590%25e7%25a0%2581%27+class%3D%27tag-link-94%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3Ephp%E6%BA%90%E7%A0%81%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fphp%25e6%25ba%2590%25e7%25a0%2581%25e5%2588%2586%25e6%259e%2590%27+class%3D%27tag-link-160%27+title%3D%279+topics%27+style%3D%27font-size%3A+12.3855421687pt%3B%27%3Ephp%E6%BA%90%E7%A0%81%E5%88%86%E6%9E%90%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fsapi%27+class%3D%27tag-link-60%27+title%3D%274+topics%27+style%3D%27font-size%3A+9.85542168675pt%3B%27%3ESAPI%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fsession%27+class%3D%27tag-link-164%27+title%3D%275+topics%27+style%3D%27font-size%3A+10.5301204819pt%3B%27%3Esession%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Futf8%27+class%3D%27tag-link-7%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3Eutf8%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fvalgrind%27+class%3D%27tag-link-600%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Evalgrind%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fvim%27+class%3D%27tag-link-5%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Evim%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fyac%27+class%3D%27tag-link-589%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3Eyac%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fyaf%27+class%3D%27tag-link-343%27+title%3D%2713+topics%27+style%3D%27font-size%3A+13.6506024096pt%3B%27%3EYaf%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fyar%27+class%3D%27tag-link-571%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3EYar%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2Fzendphp%27+class%3D%27tag-link-58%27+title%3D%2712+topics%27+style%3D%27font-size%3A+13.313253012pt%3B%27%3EZend%2FPHP%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e4%25b9%25b1%25e7%25a0%2581%27+class%3D%27tag-link-6%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3E%E4%B9%B1%E7%A0%81%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e5%258e%259f%25e7%2590%2586%27+class%3D%27tag-link-205%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3E%E5%8E%9F%E7%90%86%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e5%25bc%2580%25e5%258f%2591php%25e6%2589%25a9%25e5%25b1%2595%27+class%3D%27tag-link-114%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3E%E5%BC%80%E5%8F%91php%E6%89%A9%E5%B1%95%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e5%25bc%2582%25e6%25ad%25a5%27+class%3D%27tag-link-30%27+title%3D%272+topics%27+style%3D%27font-size%3A+8pt%3B%27%3E%E5%BC%82%E6%AD%A5%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e6%2580%25a7%25e8%2583%25bd%27+class%3D%27tag-link-210%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3E%E6%80%A7%E8%83%BD%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e6%2589%25a9%25e5%25b1%2595%25e5%25bc%2580%25e5%258f%2591%27+class%3D%27tag-link-444%27+title%3D%276+topics%27+style%3D%27font-size%3A+11.1204819277pt%3B%27%3E%E6%89%A9%E5%B1%95%E5%BC%80%E5%8F%91%3C%2Fa%3E%0A%3Ca+href%3D%27http%3A%2F%2Fwww.laruence.com%2Ftag%2F%25e6%25ad%25a3%25e5%2588%2599%27+class%3D%27tag-link-191%27+title%3D%273+topics%27+style%3D%27font-size%3A+9.01204819277pt%3B%27%3E%E6%AD%A3%E5%88%99%3C%2Fa%3E%3C%2Ftags%3E");
        widget_so7596180.addVariable("categories", "%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fgnuc%22+title%3D%22View+all+posts+filed+under+GNU+C%2FC%2B%2B%22%3EGNU+C%2FC%2B%2B%3C%2Fa%3E+%288%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fjscss%22+title%3D%22View+all+posts+filed+under+Js%2FCSS%22%3EJs%2FCSS%3C%2Fa%3E+%2824%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fos%22+title%3D%22View+all+posts+filed+under+Linux%2FUnix%22%3ELinux%2FUnix%3C%2Fa%3E+%2815%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fmysqlpostgresql%22+title%3D%22View+all+posts+filed+under+MySQL%2FPostgreSQL%22%3EMySQL%2FPostgreSQL%3C%2Fa%3E+%287%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fphpext%22+title%3D%22View+all+posts+filed+under+PHP+Extension%22%3EPHP+Extension%3C%2Fa%3E+%2819%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fphp-usage%22+title%3D%22View+all+posts+filed+under+PHP%E5%BA%94%E7%94%A8%22%3EPHP%E5%BA%94%E7%94%A8%3C%2Fa%3E+%28170%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fphp-internal%22+title%3D%22PHP%E6%BA%90%E7%A0%81%E5%88%86%E6%9E%90%2C+Zend%E5%86%85%E6%A0%B8%E8%A7%A3%E6%9E%90%22%3EPHP%E6%BA%90%E7%A0%81%E5%88%86%E6%9E%90%3C%2Fa%3E+%2880%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2F%25e8%25bd%25ac%25e8%25bd%25bd%22+title%3D%22View+all+posts+filed+under+%E8%BD%AC%E8%BD%BD%22%3E%E8%BD%AC%E8%BD%BD%3C%2Fa%3E+%2833%29%3Cbr+%2F%3E%0A%09%3Ca+href%3D%22http%3A%2F%2Fwww.laruence.com%2Fcategory%2Fnotes%22+title%3D%22View+all+posts+filed+under+%E9%9A%8F%E7%AC%94%22%3E%E9%9A%8F%E7%AC%94%3C%2Fa%3E+%2892%29%3Cbr+%2F%3E%0A");
        widget_so7596180.write("wpcumuluswidgetcontent4186190");
    </script>
</div>